@import "tailwindcss";
@config "./tailwind.config.js";
@layer base {
  :root,
  [data-theme="default"] {
    --color-primary: 255 208 40;
    --color-secondary: 74 222 128;
    --color-accent: 239 68 68;
    --color-pixel-blue: 59 130 246;
    --color-bg-base: 255 249 240;
    --color-bg-surface: 255 255 255;
    --color-text-main: 15 23 42;
    --radius-global: 0.5rem;
    --font-family-pixel: '"VT323"', monospace;
  }

  [data-theme="cyberpunk"] {
    --color-primary: 252 226 5;
    --color-secondary: 255 0 60;
    --color-accent: 6 182 212;
    --color-pixel-blue: 59 130 246;
    --color-bg-base: 11 12 16;
    --color-bg-surface: 31 40 51;
    --color-text-main: 200 200 200;
    --radius-global: 0px;
    --font-family-pixel: '"VT323"', monospace;
  }

  [data-theme="dark"] {
    --color-primary: 255 208 40;
    --color-secondary: 74 222 128;
    --color-accent: 239 68 68;
    --color-pixel-blue: 59 130 246;
    --color-bg-base: 26 26 26;
    --color-bg-surface: 45 45 45;
    --color-text-main: 243 244 246;
    --radius-global: 0.5rem;
    --font-family-pixel: '"VT323"', monospace;
  }

  body {
    background-color: rgb(var(--color-bg-base));
    color: rgb(var(--color-text-main));
    font-family: var(--font-family-pixel);
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
    overscroll-behavior-y: none;
    -webkit-font-smoothing: none;
    image-rendering: pixelated;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-left: 2px solid #000;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border: 2px solid #000;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.pixel-antialiasing {
  image-rendering: pixelated;
}
